standby_mode = 'on'
primary_conninfo = 'host={{ postgres_primary_server_ip|default("<PRIMARY_SERVER_IP>") }} port=5432 user=repl password={{ postgres_replication_password|default("<REPLICATION_PASSWORD>") }}'
trigger_file = '/tmp/postgresql.trigger.5432'
